<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>MAIN PAGE</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
  </head>
  <body>
    <main class="container">
      <nav
        style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 470px"
      >
        <ul>
          <li><a href="/logout" role="button"> Logout from account {{current_user.nickname}} </a></li>
        </ul>
      </nav>
      <nav
        style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px"
      >
        <ul>
          <li><a href="/main_contacts" role="button"> Personal assistant </a></li>
        </ul>
        <ul>
          <li><a href="/main_tags" role="button"> Tag manager </a></li>
        </ul>
        <ul>
          <li><a href="/scrapper" role="button"> News scrapper </a></li>
        </ul>
      </nav>
    </main>
  </body>
</html>