<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Files</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
  </head>
  <body>
    <main class="container">
      <nav
        style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px"
      >
        <ul>
          <li><a href="/contacts" role="button"> Go back to the main page </a></li>
          
        </ul>
      </nav>
      <form method="POST">
          
      <div class="checkbox-row"> <a class="checkbox-row">  Audio <input type="checkbox" name="audio" value="1" />  </a></div>
      <div class="checkbox-row"></div><a class="checkbox-row">  Archives <input type="checkbox" name="archives" value="1" />  </a></div>
      <div class="checkbox-row"></div><a class="checkbox-row">  Images <input type="checkbox" name="images" value="1" />  </a></div>
      <div class="checkbox-row"></div><a class="checkbox-row">  Video <input type="checkbox" name="video" value="1" />  </a></div>
      <div class="checkbox-row"></div><a class="checkbox-row">  Documents <input type="checkbox" name="documents" value="1" />  </a></div>
      <div class="checkbox-row"></div><h class="checkbox-row">  All <input type="checkbox" name="all" value="1" />  </h></div>
      <button type="submit">Submit</button> 
      
        {% for file in files%}
        {% if file %} 
        <li>
        <a  class="outline" >File : {{file[1].file_name}} Category {{file[0]}} Path {{file[1].file_storage_path}}</a>     
        <a href="/download-file/{{file[1].id}}" role="button" style="padding: 1px">Show file</a>       
        </li>       
        {% endif %} 
        {% endfor %}

      </form>          
              

    
    </main>
  </body>
</html>