<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Contacts Book</title>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css" />
</head>

<body>
  <main class="container">
    <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
      <ul>
        <li><a href="/contacts" role="button"> Go back to the main page </a></li>
        <li><a href="/birthday" role="button"> Birthdays </a></li>
        <li><a href="/contacts" role="button"> refresh </a></li>
      </ul>
    </nav>
    <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
      <ul>
        <li><a href="/contact-information/" role="button">Add Person details</a> </li>

        <form method="POST">
          <li>
            Find person name
            <input type="text" name="find_name" />
            Find file
            <input type="text" name="find_file" />


            <button type="submit">submit </button>
          </li>
      </ul>

    </nav>
    </form>

    <form method="GET">
      {%if information_name_warning %} {{information_name_warning}} {% endif %}
      {%if information_name %} {% for i in information_name%} 
    <ul>
      <a File name   href="/download_file/{{i.id}}" role="button" style="padding: 1px"> {{i.file_name}} </a> 
       
    </ul>
    
    {%endfor %}
    {% endif %}  
      {% for person in persons%}
      <ul>
        <li>
          {%if person%}
          <a href="/contact-information/{{person.id}}" role="button" style="padding: 1px">Name:{{person.name}}</a>
          <a href="/uploads/{{person.id}}" role="button" style="padding: 1px">Add file</a>
          <a href="/contact-delete/{{person.id}}" role="button" style="padding: 1px">Delete person</a>

          <a href="/files/{{person.id}}" role="button" style="padding: 1px">Show files</a>

          {% endif %}
        </li>
      </ul>


      {% endfor %}
    </form>
  </main>
</body>

</html>